@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Oleo+Script:wght@400;700&display=swap');

/*font-family: 'Manrope', sans-serif;
font-family: 'Oleo Script', cursive;*/


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: #3e3e3e;
}

a:link,a:visited{
  color:white;
  text-decoration: none;
}


a:hover{
  color:grey !important;
  text-decoration: none;
}

h1{
  font-weight: bold;
}

.gradient-line{
  border-bottom: 4px solid;
  -o-border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image: -webkit-gradient(linear, left top, right top, from(#FD8C73), to(#CF0BD3));
  border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image-slice: 1;
  width: 150px;
}

.item-img{
  width:100%;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #b0b0b0;
}

.item-price {
  color: #532301;
  font-family: 'Oleo Script';
}

.item-desc{
  color: #666666;
}

/* .hover-box {
  border-radius: 10px;
}
.hover-box:hover{
  box-shadow: 0px 5px 20px #3e3e3e;
} */

.custom-btn{
  border: none;
  background-color: transparent;
  width:130px;
  margin: 0 10px 10px 0;
  border: 2px solid #532301;
  border-radius: 10px;
  font-family: 'Oleo Script';
  box-shadow: 0px 3px 5px #b0b0b0;
  color: #532301;
  font-weight: bold;
  transition:  0.5s;
} 


.custom-btn:hover {
  background-image: linear-gradient(to right, #FD8C73, #CF0BD3 );
  color: white;
}

#footer {
  background-color: #4b4b4b;
}

#footer p, #footer a{
  font-size: 11px;
}

#footer .footer-headline{
  font-weight: bold;
  text-decoration: underline;
  font-size: 14px;
}

#footer .col-12 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


#footer-copyright{
  font-size: 10px;
  color: grey;
}

#footer .footer-socialmedia{
  font-size: 20px;
}