@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Oleo+Script:wght@400;700&display=swap');

/*font-family: 'Manrope', sans-serif;
font-family: 'Oleo Script', cursive;*/


body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  color: #3e3e3e;
}


h1{
  font-weight: bold;
}

.gradient-line{
  border-bottom: 4px solid;
  -o-border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image: -webkit-gradient(linear, left top, right top, from(#FD8C73), to(#CF0BD3));
  border-image: linear-gradient(to right, #FD8C73, #CF0BD3);
  border-image-slice: 1;
  width: 150px;
}

.item-img{
  width:100%;
  border-radius: 20px;
}

.item-price {
  color: #532301;
  font-family: 'Oleo Script';
}

.item-desc{
  color: #666666;
}

.hover-box {
  padding: 10px 0px;
  border-radius: 10px;
}
.hover-box:hover{
  box-shadow: 0px 5px 20px #3e3e3e;
}

/*
.fa-droplet {
    background-color: grey;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7019A6), to(#F29E38));
    background-image: linear-gradient(#7019A6, #F29E38);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
*/